[submodule "dependencies/android-utils"]
	path = dependencies/android-utils
	url = git@gitlab.kharkov.dbbest.com:android/android-utils.git
[submodule "dependencies/general-utils"]
	path = dependencies/general-utils
	url = git@gitlab.kharkov.dbbest.com:android/general-utils.git
