[submodule "dependencies/android-utils"]
	path = dependencies/android-utils
	url = https://github.com/tiksem/androidebi.git
[submodule "dependencies/general-utils"]
	path = dependencies/general-utils
	url = https://github.com/tiksem/generalebi.git
[submodule "dependencies/media-utils"]
	path = dependencies/media-utils
	url = https://github.com/tiksem/mediaebi.git
