<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tiksem.SongsYouMayLike"
          android:sharedUserId="com.tiksem.FlyingDog"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="22"
            />
    <application android:name="com.tiksem.FlyingDog.FlyingDog" android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="com.tiksem.FlyingDog.songs_you_may_like.SongsYouMayLikeActivity"
                  android:launchMode= "singleInstance"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppBaseTheme"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.tiksem.FlyingDog.ui.TestActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppBaseTheme"
                  android:label="@string/app_name">
        </activity>

        <service
                android:name="com.tiksem.FlyingDog.services.FlyingDogPlaybackService"
                >
        </service>

        <service
                android:name="com.tiksem.FlyingDog.services.FlyingDogSongsYouMayLikeService"
                >
        </service>

        <service
                android:name="com.tiksem.FlyingDog.services.FlyingDogArtsUpdatingService"
                >
        </service>
    </application>
</manifest>
