<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.FlyingDog"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="23"
            />
    <application android:name=".FlyingDog" android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".ui.PlayListsActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name="com.tiksem.media.playback.AudioPlayerService"
                >
        </service>

        <service
                android:name=".services.SongsYouMayLikeService"
                >
        </service>

        <service
                android:name=".services.FlyingDogArtsUpdatingService"
                >
        </service>
    </application>
</manifest>
